#rpg {
    grid-area: gameplay;
    display: grid;
    grid-template-areas:
        "grid grid"
        "empty status";
    grid-template-rows: 1fr min-content;
    grid-template-columns: var(--playerSize) 1fr;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}
#rpg #grid {
    grid-area: grid;
    position: relative;
}
#rpg canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#status {
    position: relative;
    grid-area: status;

    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;

    background-image: url("../assets/Panel_Status.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1443/238;

    max-width: 100rem;

    color: white;
    font-family: var(--ui-font-family);
}
.statusText {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;

    padding-left: 1rem;

    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;
}
.statusText h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.victoryOverlay {
    color: green;
}
.defeatOverlay {
    color: red;
}
.retry {
    display: block;
    margin-top: 1.2em;
    font-size: 0.6em;
}
.victoryOverlay,
.defeatOverlay {
    font-family: var(--ui-font-family);
    font-size: calc(var(--dialogue-font-size) * 3);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* gross */
    z-index: 1001;

    background-color: rgba(0, 0, 0, 0.6);

    animation: fadeIn 300ms ease-in;
}
