/** preload */
body:after {
    content: "";
    background-image: url("./assets/cat_idle_blink_strip8.png"), url("./assets/cat_truck_full.png"),
        url("../assets/truck_full.png"), url("../assets/rat-Sheet.png");
}

.speaker-portrait.cat {
    background-image: url("../assets/cat_idle_blink_strip8.png");
    background-size: 800%;
    animation: eightFrameAnimation 1s step-start;
    animation-delay: 300ms;
}
.speaker-portrait.cattruck {
    background-image: url("../assets/cat_truck_full.png");
    background-size: 80%;
    background-position-y: 70%;
}
.speaker-portrait.truck {
    background-image: url("../assets/truck_full.png");
    background-size: 80%;
    background-position-y: 70%;
}
.speaker-portrait.bear {
    background-image: url("../assets/bear.png");
    background-size: 100%;
}
.speaker-portrait.rat {
    background-image: url("../assets/rat-Sheet.png");
    background-size: 400%;
    animation: fourFrameAnimation 1s step-start;
    animation-delay: 300ms;
    transform: scaleX(-1);
    height: 10em;
    top: -9em;
    width: 16em;
}
.speaker-portrait.rat.right-speaker {
    transform: unset;
}
.speaker-portrait.cop {
    background-image: url("../assets/pigeon_walking-Sheet.png");
    background-size: 400%;
    animation: fourFrameAnimation 1s step-start;
    animation-delay: 300ms;
    transform: scaleX(-1);
    height: 16em;
    top: -9em;
    width: 10em;
    right: 2em;
}
.speaker-portrait.cop.right-speaker {
    transform: unset;
}
.speaker-portrait.cop.left-speaker {
    left: 2em;
}
.speaker-portrait.frog {
    background-image: url("../assets/frog_idle_strip4.png");
    background-size: 400%;
    animation: fourFrameAnimation 1s step-start;
    animation-delay: 300ms;
    height: 10em;
    top: -8em;
}
.speaker-portrait.clown {
    background-image: url("../assets/clown_sheet.png");
    background-size: 200%;
    animation: twoFrameAnimation 1s step-start;
    animation-delay: 300ms;
    transform: scaleX(-1);
    height: 16em;
    top: -12em;
    width: 14em;
    right: 0em;
}
.speaker-portrait.clown.right-speaker {
    transform: unset;
}
.speaker-portrait.clown.left-speaker {
    left: 2em;
}
.speaker-portrait.leslie {
    background-image: url("../assets/bear_cub.png");
    background-size: 100%;
    animation-delay: 300ms;
    height: 16em;
    top: -12em;
    width: 14em;
    right: 0em;
}
.speaker-portrait.leslie.left-speaker {
    left: 2em;
}

@keyframes twoFrameAnimation {
    0.00% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 100%;
    }
}

@keyframes fourFrameAnimation {
    0.00% {
        background-position-x: 0%;
    }
    25.00% {
        background-position-x: 33.33%;
    }
    50.00% {
        background-position-x: 66.66%;
    }
    75.00% {
        background-position-x: 100%;
    }
}

@keyframes eightFrameAnimation {
    0.00% {
        background-position-x: 0%;
    }
    12.50% {
        background-position-x: 14.29%;
    }
    25.00% {
        background-position-x: 28.57%;
    }
    37.50% {
        background-position-x: 42.86%;
    }
    50.00% {
        background-position-x: 57.14%;
    }
    62.50% {
        background-position-x: 71.43%;
    }
    75.00% {
        background-position-x: 85.71%;
    }
    87.50% {
        background-position-x: 100%;
    }
}
