body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-areas: "game";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;

    --dialogue-font-size: clamp(0.5rem, 2.3vw, 32px);
    --ui-scale-font-size: clamp(2rem, 3vw, 48px);

    --dialogue-font-family: "Varela Round", sans-serif;
    --ui-font-family: "Montserrat", sans-serif;

    min-width: 640px;

    background-color: black;

    background-image: url("./assets/forest.jpg");
    background-size: cover;
    background-position: center;

    transition: background-image 600ms linear;
}

body[data-bg="forest"] {
    background-image: url("./assets/forest.jpg");
}
body[data-bg="nightforest"] {
    background-image: url("./assets/nightforest.jpg");
}
body[data-bg="cave"] {
    background-image: url("./assets/cave.jpg");
}
